.Perfume_List {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    cursor: pointer;
}


/* 자세히 보기 */
.p_bms {
    text-decoration : underline #1d1d1d;
}

.p_bms:hover{
    text-decoration : underline white;
}

/* 블루 드 샤넬 s */
.blue_bms {
    display: flex;
    flex: 1 0;
    height: 100%;
    position: relative;
    align-items: initial;
    flex-direction: row-reverse;
    top: 0;
    width: 100%;
    gap: 18px;
    margin: 0 8.022%;
    max-width: 89.33333333%;
    margin-right: 20px;
    justify-content: space-around;
}

.blue-text_bms {
    margin-right: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 40.6666666666%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blue-img_bms .blue-text_bms {
    padding-left: .98958333vw;
    padding-right: .98958333vw;
}

.blue-img_bms {
    margin-right: 50px;
}

/* 반응형 */

.blue-img_bms img { display: block; width: calc(100% - 20px); } 
@media all and (max-width: 650px) {
	.blue_bms { flex-direction: column; }
	.blue-img_bms img { width: 100%; }
	.blue-text_bms { width: 100%; }
	.blue-img_bms { margin-right: 0; }
}

@media (min-width: 1500px){
    .blue-img_bms img{min-width: 500px;}
}
/* 블루 드 샤넬 e */

/* 코코 마드모아젤 s */
.coco_bms {
    display: flex;
    flex: 1 0;
    height: 100%;
    position: relative;
    align-items: initial;
    flex-direction: row;
    top: 0;
    width: 100%;
    gap: 18px;
    margin: 0 8.022%;
    max-width: 89.33333333%;
    margin-right: 20px;
    justify-content: space-around;
}

.coco-text_bms {
    margin-left: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 40.6666666666%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.coco-img_bms .coco-text_bms {
    padding-left: .98958333vw;
    padding-right: .98958333vw;
}
.coco-img_bms {
    margin-left: 50px;
    width: 100%;
    
}

/* 반응형 */
.coco-img_bms img { display: block; width: calc(100% - 20px); } 
@media all and (max-width: 650px) {
    .coco_bms { flex-direction: column; }
	.coco-img_bms img { width: 100%;}
	.coco-text_bms { width: 100%; }
	.coco-img_bms { margin: 0; }
}
/* @media (min-width: 1500px){
    .coco-img_bms img{min-width: 500px;}
} */
/* 코코 마드모아젤 e */

/* 알뤼르 옴므 스포츠 s */
.homme_bms {
    display: flex;
    flex: 1 0;
    height: 100%;
    position: relative;
    align-items: initial;
    flex-direction: row-reverse;
    top: 0;
    width: 100%;
    gap: 18px;
    margin: 0 8.022%;
    max-width: 89.33333333%;
    margin-right: 20px;
    justify-content: space-around;
}
.homme-text_bms {
    margin-right: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 40.6666666666%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.homme-img_bms .homme-text_bms {
    padding-left: .98958333vw;
    padding-right: .98958333vw;
}
.homme-img_bms {
    margin-right: 50px;
    width: 100%;
}

/* 반응형 */
.homme-img_bms img { display: block; width: calc(100% - 20px); } 

@media all and (max-width: 650px) {
    .homme_bms { flex-direction: column; }
    .homme-img_bms img { width: 100%; }
    .homme-text_bms { width: 100%; }
    .homme-img_bms { margin-right: 0; }
}


/* 알뤼르 옴므 스포츠 e */

/* 공백 */
.block_bms{
    display: flex;
    flex: 1 1;
    position: relative;
    width: 100%;
    height: 5vw;
}


