.Perfume_List{
    justify-content: center;
    align-items: center;
    margin: 0.8022%;
    max-width: 89.3333%;
}
.blue{
    display: flex;
    flex: 1 0;
    height: 100%;
    position: relative;
    /* gap: initial; */
    align-items: initial;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    top: 0;
    width: 100%;
    gap: 18px;

}
.blue-text{
    margin-right: 8.3333333%;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 41.6666666666%;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.chanel-text{

}

.blue-img{
    display: block;

}

@media (min-width: 601px){
    .blue{
        margin: 0 8.022%;
        max-width: 89.33333333%;
        margin-right: 20px;
    }
    /* .blue-img{
        width: 100px;
        height: 120px;
        background-image: url(../image/blue.png);
        background-size: cover;
        background-position: center;
    } */
    .blue-img .blue-text {
        padding-left: .98958333vw;
        padding-right: .98958333vw;
    }
    
}