.best_seller div div div a {
    text-decoration: none;

    color: black;
}

.best_seller h2 {
    margin: 10px
}

@media(min-width: 1000px) {
    .best_seller h2 {
        font-size: 35px;
    }
}

.best_seller {
    margin-top: 100px;

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.best_seller .center_layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;

    text-align: center;

}

.best_seller .center_layout :first-child {
    margin: 10px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}


.best_seller div .Area {
    display: flex;
    width: 100%;
    flex-basis: auto;
    justify-content: center;
    padding: 0px;

}

.best_seller div .Area div {
    display: flex;
    margin: 10px;
    width: calc(100%/3);
}


.best_seller div .Area div a div {

    width: 100%;
    height: 100%;
    margin-bottom: 35px;

}

.best_seller .xi-star-o {
    text-align: right;
    line-height: 0px;
}

.best_seller div .Area div a .Product_img1 {
    background: url(https://www.chanel.com/images//t_one//w_0.51,h_0.51,c_crop/q_auto:good,f_auto,fl_lossy,dpr_1.2/w_620/bleu-de-chanel-parfum-spray-3-4fl-oz--packshot-default-107180-8848376987678.jpg) no-repeat center center;
    background-size: contain;
    padding: 0px;
    margin: 0px;

}

.best_seller div .Area div a .Product_img2 {
    background: url(https://www.chanel.com/images//t_one//w_0.51,h_0.51,c_crop/q_auto:good,f_auto,fl_lossy,dpr_1.2/w_620/chance-eau-tendre-eau-de-parfum-spray-3-4fl-oz--packshot-default-126260-8848377511966.jpg) no-repeat center center;
    background-size: contain;
    padding: 0px;
    margin: 0px;
}

.best_seller div .Area div a .Product_img3 {
    background: url(https://www.chanel.com/images//t_one//w_0.51,h_0.51,c_crop/q_auto:good,f_auto,fl_lossy,dpr_1.2/w_620/paris-paris-les-eaux-de-chanel-eau-de-toilette-spray-4-2fl-oz--packshot-default-102440-8849829625886.jpg) no-repeat center center;
    background-size: contain;
    padding: 0px;
    margin: 0px;
}

.best_seller div .Area div a .Product_img4 {
    background: url(https://www.chanel.com/images//t_one//w_0.51,h_0.51,c_crop/q_auto:good,f_auto,fl_lossy,dpr_1.2/w_1240/n-5-eau-de-parfum-spray-3-4fl-oz--packshot-default-125530-8848376856606.jpg) no-repeat center center;
    background-size: contain;
    padding: 0px;
    margin: 0px;
}

.best_seller div .Area div a .Product_img5 {
    background: url(https://www.chanel.com/images//t_one//w_0.51,h_0.51,c_crop/q_auto:good,f_auto,fl_lossy,dpr_1.2/w_1240/allure-homme-sport-eau-de-toilette-spray-3-4fl-oz--packshot-default-123630-8848376758302.jpg) no-repeat center center;
    background-size: contain;
    padding: 0px;
    margin: 0px;

}

.best_seller div .Area div a .Product_img6 {
    background: url(https://www.chanel.com/images//t_one//w_0.51,h_0.51,c_crop/q_auto:good,f_auto,fl_lossy,dpr_1.2/w_1240/gabrielle-chanel-essence-eau-de-parfum-spray-3-4fl-oz--packshot-default-120630-8848376692766.jpg) no-repeat center center;
    background-size: contain;
    padding: 0px;
    margin: 0px;

}


.best_seller div .Area div a h5 {
    color: gray;
    margin: 0px;
}

.best_seller div .Area div a {

    letter-spacing: 1.5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 100%;
    min-height: 325px;




}

@media(min-width: 1000px) {
    .best_seller div .Area div a {
        letter-spacing: 1.5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        width: 100%;
        min-height: 425px;


    }
}

.best_seller div .Area div a h4 {
    margin: 5px;
}

.best_seller div .Area div a span {
    margin-top: 15px;

    letter-spacing: 0px;
    font-size: 13px;

    text-decoration: underline;

}
